<h1>Seja bem vindo!</h1>
<p>Guilherme Melo</p>

<p><strong>Data:</strong>  <%= data_br(Date.today)%></p>

 <%= render "menu" %>

<ul>
    <p>Você está no ambiente de <strong> <%= ambiente_rails %> </strong></p>

    <p>Eu sou uma variável de instância/sessão <strong><%= @nome %></strong> </p>
</ul>