<h1>Seja bem vindo!</h1>
<p>Guilherme Melo</p>

<p>A soma é: <%= 1 + 1 %></p>
<p> Seu nome de trás pra frente é: <%= "Guilherme".reverse%></p>
<% ax = "A minha variável a"%>
<p>Imprimindo a variavel a: <%= ax %></p>
<p> A data de hoje é: <%= Date.today %></p>